[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Pallas-Nest-Microservices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Pallas-Nest-Microservices/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Pallas-Nest-Microservices/orders-ms.git
