[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Pallas-Nest-Microservices/client-gateway.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Pallas-Nest-Microservices/orders-ms
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Pallas-Nest-Microservices/products-microservice.git
